@*@model IEnumerable<ServReqDetailsForUserModel>*@
@model ServiceReqAllUsrInfo
@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12">
    <a class="btn btn-primary f_right" asp-action="Index" asp-controller="ServReq"><i class="fa fa-hand-o-left"></i> Back</a><br /><br />
    
    <table class="table table-bordered">
       
        @foreach (var Servdt in Model.users)
        {
            <div>
                <label>Name:</label>
                <span>@Servdt.FirstName @Servdt.LastName @Servdt.MiddleName</span>
            </div>
            <div>
                <label>Email:</label>
                <span>@Servdt.Email</span>
            </div>
             <div>
                <label>Phone Number:</label>
                <span>@Servdt.WorkPhone</span>
            </div>
            <div>
                <label>Address</label>
                <span>
                    <span>@Servdt.Address1 , @Servdt.Address2 ,</span><br />
                    <span>@Servdt.Address3, @Servdt.City, </span><br />
                    <span>@Servdt.State, @Servdt.Country,</span><br />
                    <span>@Servdt.Zip</span>
                </span>
            </div>            
        }
    </table>
    <table class="table table-bordered" style="width: 50%">

        <tr style="background-color: #72a540;color: white;"> <th>Service Request Details</th><th></th></tr>
        @*<tr class="active">
        </tr>*@
        @foreach (var Servdt in Model.serviceRequests)
    {            
        <tr>
            <th class="active">Service Request Id</th>
            <td>@Servdt.ServiceRequestId</td>
        </tr>
        <tr>
            <th class="active">Customer Id</th>
            <td>@Servdt.custumerDetails.Name</td>
        </tr>
        <tr>
            <th class="active">Service Type Id</th>            
            <td>@Servdt.ServiceTypeDetails.Name</td>
        </tr>
        <tr>
            <th class="active">Created Date</th>
            <td>@Servdt.CreatedDate</td>
        </tr>
        @*<tr>
            <th class="active">Created By</th>
            <td>@Servdt.UsersDetails.FirstName</td>
        </tr>*@
        <tr>
            <th class="active">Assigned To</th>
            <td>@Servdt.AssignedTo</td>
        </tr>
        <tr>
            <th class="active">Assigned By</th>
            <td>@Servdt.AssignedBy</td>
        </tr>
        <tr>
            <th class="active">Assigned Date</th>
            <td>@Servdt.AssignedDate</td>
        </tr>
        <tr>
            <th class="active">Status</th>
            <td>@Servdt.Status</td>
        </tr>
        <tr>
            <th class="active">Notes</th>
            <td>@Servdt.Notes</td>
        </tr>
        <a asp-action="Create" asp-controller="ServReq" class="btn btn-primary" asp-route-id="@Servdt.ServiceRequestId">Assign Technician</a>
        <br />
        <br />
}

    </table>
   
    @*<div class="col-md-4 col-md-offset-4">
                <form method="post" asp-antiforgery="true" enctype="multipart/form-data">

                @foreach (var Servdt in Model.serviceRequestDetails)
            {
                <div>
                    <label asp-for=@Servdt.CurrentStatus> Current Status: </label>
                    <input asp-for=@Servdt.CurrentStatus class="form-control" />
                    <span asp-validation-for=@Servdt.CurrentStatus></span>
                </div>
                <div>
                    <label asp-for=@Servdt.AssignedTo> Assigned To: </label>
                    <input asp-for="@Servdt.AssignedTo" class="form-control" />
                    <span asp-validation-for="@Servdt.AssignedTo"></span>
                </div>
                <div>
                    <label asp-for="@Servdt.Notes"> Notes: </label>
                    <input asp-for="@Servdt.Notes" class="form-control" />
                    <span asp-validation-for="@Servdt.Notes"></span>
                </div>
        }
                <br />
                <div>
                    <input class="btn btn-primary" type="submit" value="Create User" />
                    <a class="btn btn-primary" asp-action="Index" asp-controller="ServReq">Cancel</a>
                </div>
                </form>
            </div>*@

</div>
